<launch>
	<!-- vim: set ft=xml noet : -->
	<arg name="simulate" value="true"/>
	<arg name="routing" value="true"/>
	<arg name="logging" value="false"/>
	<arg name="camera" value="true"/>
	<!--sensors-->
	<include file="$(find nautonomous_navigation_configuration)/launch/mavros/px4.launch" unless="$(arg simulate)">
		<arg name="log" value="$(arg logging)" />
	</include>
	<include file="$(find zed_wrapper)/launch/zed.launch" if="$(arg camera)">
	</include>
	<include file="$(find ublox_gps)/launch/ublox_gps_papaverweg.launch" unless="$(arg simulate)">
		<arg name="log" value="$(arg logging)" />
	</include>



	<!-- ODOM-->   
	<include file="$(find nautonomous_navigation_configuration)/launch/pose/ekf_with_gps.launch">
		<arg name="log" value="$(arg logging)" />
	</include>



	<!-- TF-->
	<include file="$(find nautonomous_navigation_configuration)/launch/map/map_papaverweg.launch">
		<arg name="log" value="$(arg logging)" />
	</include>

	<include file="$(find nautonomous_navigation_transform)/launch/nautonomous_tf.launch">
		<arg name="log" value="$(arg logging)" />
	</include>


	<include file="$(find nautonomous_operation_action_client)/launch/action_client.launch" if="$(arg routing)">
		<arg name="log" value="$(arg logging)" />
	</include>

	<include file="$(find nautonomous_operator_actuation)/launch/operator_lowlevel.launch">
		<arg name="log" value="$(arg logging)" />
	</include>
	<include file="$(find nautonomous_actuation_selector)/launch/output_multiplexer.launch">
		<arg name="log" value="$(arg logging)" />
	</include>

	//output
	<include file="$(find nautonomous_actuation_simulator)/launch/propulsion_sim.launch" if="$(arg simulate)">
		<arg name="log" value="$(arg logging)" />
	</include>
	<include file="$(find nautonomous_actuation_synchronizer)/launch/send_actuation.launch" unless="$(arg simulate)">
		<arg name="log" value="$(arg logging)" />
	</include>

	<node name="rviz_visualizer" pkg="rviz" type="rviz" if="$(arg simulate)"/>

</launch>
